.game__option {
    position: absolute;
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #fff;
    cursor: pointer;
}
.rock {
    top: 0;
    right: 100px;
    border: 15px solid var(--rock-gradient);
}
