.game__playscreen {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.playscreen-bg {
    width: 220px;
    height: 220px;
    scale: 1.2;
}
@media screen and (max-width: 480px) {
    .game__playscreen {
        width: 100%;
    }
    .playscreen-bg {
        width: 180px;
        height: 180px;
    }
}