.game__results {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.results__choice {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}
.results__choice h4 {
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.results__choice > .game__option {
    position: relative;
}
.results__choice >  .paper {
    top: 0;
    right: 0;
}
.results__choice >  .scissors {
    bottom: 0;
    left: 0;
    transform: translateX(0);
}
.results__choice >  .rock {
    top: 0;
    left: 0;
}
.result__display {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
}
.restart__btn {
    border: none;
    background-color: #fff;
    font-size: 0.6rem;
    font-weight: 600;
    letter-spacing: 1.5px;
    width: 70%;
    padding: 8px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
    text-transform: uppercase;
}
.restart__btn:hover {
    color: rgb(128, 0, 0);
}
@media screen and (max-width: 480px) {
    .game__results {
        width: 100%;
        align-items: flex-start;
        gap: 16px;
    }
    .results__choice {
        height: max-content;
        flex-direction: column-reverse;
    }
    .results__choice h4 {
        font-size: 0.8rem;
    }
    .result__display {
        position: absolute;
        width: 200px;
        height: max-content;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.6rem;
    }
}